---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import ImmersiveHero from '../components/ImmersiveHero.astro';
import VslPlayer from '../components/VslPlayer.astro';
import VitrineDigital from '../components/VitrineDigital.astro';
import History from '../components/History.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout title="Skina do Bebê | A maior loja de bebês de Piracicaba/SP">
	<Header />
	<main>
		<ImmersiveHero />
		<VslPlayer />
		<VitrineDigital />
		<History />
	</main>
	<Footer />
</BaseLayout>
